body {
    background-color: rgb(238, 238, 238);
    /* padding: 30px 50px; */
    padding: 50px 100px;
}

.page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

header {
    border-bottom: 2px solid black;
    width: 100%;
    text-transform: uppercase;
}

img {
    background-color: rgb(255, 255, 255);
}

#qoute-div {
    display: flex;
    width: 100%;
}

blockquote {
    flex-direction: column;
    font-family: Georgia, serif;
    color: gray;
    border-left: 2px solid rgb(180, 179, 179);
    padding-left: 30px;
    width: 40%;
}

#text {
    width: 60%;
}

#autor {  
    text-align: right;
}


aside>section a {
    color: rgb(0, 153, 0);
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
}

main,
aside {
    display: flex;
    flex-wrap: wrap;
}

main {
    width: 80%;
}

aside {
    width: 20%;
    flex-direction: column;
    align-items: center;

}

.Img1 {
    float: right;
    margin-left: 12px;
    margin-bottom: 4px;
    border: 3px solid black;
    padding: 4px;
}

.Img2 {
    float: left;
    border: 3px solid black;
    padding: 4px;
    margin-right: 12px;
}
