body {
    padding: 20px;
}

header {
    border-bottom: 2px solid rgb(0,0,0);
    display:flex;
    justify-content: space-between;
}

header nav {
    margin-top: 15px;
}


h1 {
    text-transform: uppercase;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
}

li {
    display: flex;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
    padding-left: 20px;
}