html {
    font-family: Helvetica, sans-serif;
    color: rgb(51, 51, 51);
}

img {
    max-width: 550px;
}

body {
    background-color: rgb(238, 238, 238);
    padding-left: 40px;
}

section {
    padding-top: 30px;
}

section ul {
    list-style: square;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    padding-top: 20px;
    padding-bottom: 20px;
}

body article section p:nth-child(6) {
    padding-bottom: 20px;
}

footer p:nth-child(2) {
    padding-top: 10px;

    padding-bottom: 20px;
}

.article, 
.sidebar {
    display: inline-block;
}

.article {
    vertical-align: top;
    width: 80%;
}

.sidebar {
    vertical-align: top;
    width: 19%;
}

