@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

body {
    background-color: rgb(237, 233, 233);
}

div {
    border: 2px solid rgb(112, 110, 110);
    border-radius: 6px;
    background-color: yellow;
    margin: 3rem 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}

p {
    font-size: 1.5rem;
    color: black;
    font-weight: bolder;
}

input {
    height: 40px;
    width: 90%;
    border-radius: 6px;
    border: 1px solid grey;
}


button {
    margin-top: 20px;
    width: 4em;
    height: 2em;
    text-align: center;
    background-color: rgb(48, 47, 47);
    color: white;
    border-radius: 6px;
    font-size: 1.4rem;

}

.login__icon {
    border: 1px solid black;
    position: absolute;
    top: 0;
    margin-left: -2px;
    padding: 10px 20px;
    background-color: rgb(226, 225, 225);
    border-radius: 3px;
    width: 120px;
}

i {
    position: absolute;
    left: 76px;
    padding-top: 9px;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    div {
        border: 2px solid rgb(112, 110, 110);
        background-color: lightblue;
        margin: 5rem 4rem;
    }

    .login__icon {
        position: absolute;
        top: 32px;       
    }

    i {
        left: 120px;
    }
    
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    div {
        border: 2px solid rgb(112, 110, 110);
        background-color: lightgreen;
        margin: 5rem 10rem;
    }

    .login__icon {
        position: absolute;
        margin-top: 55px;
    }

    span {
        display: flex;
        align-items: center;
    }

    input {
        margin-left: 8px;
    }

    i {
        padding-left: 250px;
        padding-top: 2px;
    }
    
}

@media screen and (min-width: 1024px) {
    div {
        border: 2px solid rgb(112, 110, 110);
        background-color: lightcoral;
        margin: 6rem 14rem;
    }
    

    .login__icon {
        position: absolute;
        margin-top: 70px;
    }

    span {
        display: flex;
        align-items: center;
    }

    input {
        margin-left: 8px;
    }

    i {
        padding-left: 320px;
        padding-top: 2px;
    } 
}

