body {
    background-color: lightgray;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

header {
    flex-grow: 10px;
}

header,
main,
aside,
footer {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
}

header,
footer {
    width: 100%;

    /* second way ; */
    /* flex-basis: 100%; */
}

main {
    width: calc(70% - 0.5rem);

    /* second way ; */
    /* flex: 4 1 200px; */

}

aside {
    width: calc(30% - 0.5rem);

    /* second way ; */
    /* flex: 1 1 200px; */
}